---
# tasks file for openplc
- name: clone OpenPLC repository
  become: yes
  ansible.builtin.git:
    repo: "https://github.com/thiagoralves/OpenPLC_v3.git"
    dest: "{{ openplc_deploy_dir }}"

- name: install pip requirements 

  become: yes
  pip:
    requirements: "{{ openplc_deploy_dir }}/requirements.txt"

- name: run ./install.sh to install OpenPLC_v3
  become: yes
  ansible.builtin.script: "{{ openplc_deploy_dir }}/install.sh linux"
  
- name: copy st files to remote host 
  become: yes
  copy:
    src: "{{ item }}"
    dest: "{{ openplc_deploy_dir }}/webserver/st_files/"
  loop: "{{ openplc_st_files }}"
  notify: restart openplc
  
- name: copy openplc config files to remote host 
  become: yes
  copy:
    src: "{{ item.src }}"
    dest: "{{ openplc_deploy_dir }}/{{ item.dest }}"
  loop: "{{ openplc_config_files }}"
  notify: restart openplc

- name: copy openplc template files to remote host 
  become: yes
  template:
    src: "{{ item.src }}"
    dest: "{{ openplc_deploy_dir }}/{{ item.dest }}"
  loop: "{{ openplc_config_templates }}"
  notify: restart openplc
    
- name: ensure openplc is running 
  become: yes
  service:
    name: openplc
    state: started
    enabled: yes
